<html>
<head>
    <title>Welcome Page</title>
</head>
<body>
    <h2 align="center">WelcomeThis is Welcome Page of the Dyslexia Work</h2>
    <p><h3 align="center" >Dyslexia is a learning disorder that involves difficulty reading due to problems <br>
        identifying speech sounds and learning how they relate to letters and words (decoding). <br>
        Also called a reading disability, dyslexia is a result of individual differences in areas of the brain  <br>
        that process language.</h3></p>
        <div align="center">
        <a href= {{ url_for( "homepage" ) }}><font size="+2">Visit our website</font></a>
        </div>  
</body>
</html>